.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.boxTitle>h3 {
    font-size: var(--size-title-card);
    padding: var(--padding-title-card);
}

.box {
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-card);
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

.swiper {
    height: 100%;
}