.button {
  width: 100%;
  padding: 16px 20px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 0;
  color: white;
  cursor: pointer;
}

.sizeSmall {
  padding: 9px 20px;
}

.colorDefault {
  background-color: black;
}

.colorSuccess {
  background-color: #27ae60;
}

.colorDanger {
  background-color: var(--primary-color);
}

.variantOutlined {
  background: transparent;
  color: black;
  border: 1px solid black;
}