.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 380px;
}

.boxImage>svg {
    width: 250px;
    height: 150px;
    object-fit: contain;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 27px;
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px 0 0;
}

.boxButton {
    width: 100%;
}

.boxButton>div {
    margin-bottom: 15px;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.boxInfo>div {
    display: flex;
    justify-content: center;
}

.boxInfo>div>p {
    text-align: center;
    font-family: proxima-nova, ProximaNova, GESS, GE-SS, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.boxInfo>div:last-child {
    padding-top: 28px;
}

.text1Link {
    font-weight: bold;
    color: var(--primary-color);
}

.text2 {
    color: rgba(0, 0, 0, .5);
}

.text2Link {
    color: #00B3FF;
    font-weight: 500;
}

@media (max-height: 745px) {
    .boxModal {
        width: 100%;
        max-width: 300px;
    }

    .boxModal .boxImage>svg {
        width: 200px;
        height: 100px;
    }

    .boxModal .title {
        font-size: 1.3em;
    }

    .boxModal .boxInfo {
        padding-bottom: 15px;
        padding-top: 10px;
        font-size: .8em;
    }

    .boxModal .boxButton>div {
        margin-bottom: 8px;
    }
}