.overlappingGallery {
  display: flex;
  justify-content: end;
}

.overlappingGallery>div {
  border: 2px solid white;
  border-radius: 10px;
  height: 90px;
  width: 110px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
}

.overlappingGallery img {
  height: 100%;
  width: 100%;
}