.box {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.active {
    fill: var(--primary-color);
    color: var(--primary-color);
}

.boxIconStop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}